# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "item.old in vars"
  with_items:
    - {'old': 'prometheus_postgres_exporter_server_fqn', 'new': 'prometheus_postgres_exporter_hostname'}
    - {'old': 'prometheus_postgres_exporter_basicauth_enabled', 'new': 'prometheus_postgres_exporter_container_labels_metrics_middleware_basic_auth_enabled'}
    - {'old': 'prometheus_postgres_exporter_basicauth_user', 'new': '<superseded by prometheus_postgres_exporter_container_labels_metrics_middleware_basic_auth_users>'}
    - {'old': 'prometheus_postgres_exporter_basicauth_password', 'new': '<superseded by prometheus_postgres_exporter_container_labels_metrics_middleware_basic_auth_users>'}
    - {'old': 'prometheus_postgres_exporter_basicauth_print', 'new': '<removed>'}
    - {'old': 'prometheus_postgres_exporter_basicauth_file_contents', 'new': '<removed>'}
    - {'old': 'prometheus_postgres_exporter_docker_image_name_prefix', 'new': 'prometheus_postgres_exporter_container_image_registry_prefix'}
    - {'old': 'prometheus_postgres_exporter_docker_image', 'new': 'prometheus_postgres_exporter_container_image'}
    - {'old': 'prometheus_postgres_exporter_docker_image_registry_prefix', 'new': 'prometheus_postgres_exporter_container_image_registry_prefix'}
    - {'old': 'prometheus_postgres_exporter_docker_image_registry_prefix_upstream', 'new': 'prometheus_postgres_exporter_container_image_registry_prefix_upstream'}
    - {'old': 'prometheus_postgres_exporter_docker_image_registry_prefix_upstream_default', 'new': 'prometheus_postgres_exporter_container_image_registry_prefix_upstream_default'}
    - {'old': 'prometheus_postgres_exporter_docker_image_force_pull', 'new': 'prometheus_postgres_exporter_container_image_force_pull'}
    - {'old': 'prometheus_postgres_exporter_environment_variables_extension', 'new': 'prometheus_postgres_exporter_environment_variables_additional_variables'}

- name: Fail if required prometheus-postgres-exporter settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - prometheus_postgres_exporter_identifier
    - prometheus_postgres_exporter_uid
    - prometheus_postgres_exporter_gid
    - prometheus_postgres_exporter_container_network
    - prometheus_postgres_exporter_path_prefix
    - prometheus_postgres_exporter_database_hostname
